<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">

    <div th:replace="fragments/topMenu :: topMenu" />

    <body class="page-header-fixed">
        <div class="overlay"></div>

        <main class="page-content content-wrap">

            <div th:replace="fragments/topMenu :: topMenu" />

            <!--======================================================================SIDEBAR===================================================================== -->

            <div th:replace="fragments/pageSideBar :: sidebar" />

 <!-- ======================================================================BODY===================================================================== -->

            <div class="page-inner">
                <div class="page-title">
                    <h3>Add New Card</h3>
                     
                </div>
                <div id="main-wrapper">
                    

                    <div id="content-wrapper">
                    
                        <div class="content-inner">
                            <div class="row dropbuttom">

                                <form id="users-trans-form" action="javascript:void(0);">

                                    <div class="col-md-4">


                                        <div class="form-group">
                                            <input type="text" id="id" class="form-control" placeholder="Pan Number" required>
                                        </div>

                                    </div>

                                    <div class="col-md-4">


                                        <div class="form-group">
                                            <input type="text" id="pan" class="form-control" placeholder="Customer Id" required>
                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">

                                            <a th:href="@{cardsetting}" class="btn btn-danger btn-block">Add Card</a>

                                            <!--<button type="submit" id="viewCard" class="btn btn-danger btn-block">View Card Details</button>-->

                                        </div>

                                    </div>


                                </form>

                                </form>

                            </div>


                         


                        </div>

                   


                     </div>  <!--              Row -->
                </div>  <!--Main Wrapper -->

 <!-- ======================================================================FOOTER===================================================================== -->

                <div class="page-footer">
                    <p class="no-s">Copyright &copy; i.Sec 2018</p>
                </div>
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
        
        <div class="cd-overlay"></div>


        <div th:replace="fragments/footer :: footer" />

    </body>
</html>