<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:fragment="header"> </link>

    <title>i.Sec Dashboard</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}" rel="stylesheet" type="text/css"></link>

    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/c3.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css"></link>
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>

</head>
<body>

</body>
</html>