<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/modern.min.css}" rel="stylesheet}" type="text/css"/>
    <link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
</head>
<body>
<div th:fragment="pageSideBar" class="page-sidebar sidebar">
        <ul>

            <li class="link" sec:authorize="hasAnyRole('ADMIN','CONTACT_CENTER_MAKER','CONTACT_CENTER_CHECKER','SUPPORT')"><a  th:href="@{/app/viewTrxns}">
                <i class="pe-7s-graph"></i>
                <p class="linkTitle">Dashboard</p>
            </a></li>


            <li class="link" sec:authorize="hasAnyRole('ADMIN','CONTACT_CENTER_MAKER','CONTACT_CENTER_CHECKER','SUPPORT')"><a th:href="@{/app/cardTrxn}"> <i
                    class="pe-7s-news-paper"></i>
                <p class="linkTitle">Card Transactions</p>
            </a></li>


            <li class="link" sec:authorize="hasAnyRole('ADMIN','CONTACT_CENTER_MAKER','CONTACT_CENTER_CHECKER','SUPPORT')"><a th:href="@{/app/otherTrx}"> <i
                    class="pe-7s-news-paper"></i>
                <p class="linkTitle">Other Transactions</p>
            </a></li>
            <li class="link active" sec:authorize="hasAnyRole('ADMIN','CONTACT_CENTER_MAKER','CONTACT_CENTER_CHECKER','SUPPORT')">

                <a th:href="@{/app/viewCardSetting}"> <i class="pe-7s-glasses"></i>
                    <p class="linkTitle">Card Setting</p>
                </a>

            </li>
            <li class="link" sec:authorize="hasAnyRole('ADMIN','CONTROL_MAKER','CONTROL_CHECKER')">

                <a th:href="@{/app/users}"> <i class="pe-7s-user"></i>
                    <p class="linkTitle">Users.</p>
                </a>

            </li>
            <li class="link" sec:authorize="hasAnyRole('ADMIN','CONTACT_CENTER_CHECKER','CONTACT_CENTER_MAKER')">

                <a th:href="@{/app/searchCard}"> <i class="pe-7s-graph"></i>
                    <p class="linkTitle">Control Card</p>
                </a>

            </li>
            <li class="link" sec:authorize="hasAnyRole('ADMIN','CONTROL_MAKER','CONTROL_CHECKER')">

                <a th:href="@{/app/requests}"> <i class="pe-7s-graph"></i>
                    <p class="linkTitle">Admin. Requests</p>
                </a>

            </li>
            <li class="link" sec:authorize="hasAnyRole('ADMIN')"><a th:href="@{/app/viewAudit}"> <i
                    class="pe-7s-note2"></i>
                <p class="linkTitle">Logs</p>
            </a></li>

        </ul>

</div>

</body>
</html>