<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>


    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/c3.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
</head>
<body class="page-header-fixed">

<main class="page-content content-wrap">
<div th:fragment="topMenu" class="navbar">
    <div class="navbar-inner">
        <div class="sidebar-pusher">
            <a href="javascript:void(0);" class="push-sidebar">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="logo-box">
            <a th:href="index.html" class="logo-text"><span>i.Sec</span></a>
        </div>

        <div class="topmenu-outer">
            <div class="top-menu">

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="user-name" th:inline="text" th:text="${#httpServletRequest.remoteUser}"><i class="fa fa-angle-down"></i></span>
                            <!--<img class="img-circle avatar" th:src="@{http://lorempixel.com/400/200}" width="40" height="40" alt="" />-->
                        </a>

                    </li>
                    <li>
                        <form method="post" th:action="@{/app-logout}">
                            <input type="submit" class="log-out" value="Log out" />
                        </form>

                    </li>

                    <li>
                        <div class="logo">
                            <img th:src="@{/img/fcmb_logo.png}" />
                        </div>
                    </li>

                </ul><!-- Nav -->
            </div><!-- Top Menu -->
        </div>
    </div>
</div><!-- Navbar -->



<div th:fragment="sidebar" class="page-sidebar sidebar">
    <div class="page-sidebar-inner slimscroll">

        <ul>

            <li class="link" + th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active':''}">
                <a th:href="@{dashboard}">
                    <!-- <span class="pe-7s-graph" aria-hidden="true"></span> -->
                    <i class="pe-7s-graph"></i>
                    <p class="linkTitle">Dashboard</p>
                </a>
            </li>


            <li  class="link" + th:classappend="${#httpServletRequest.getRequestURI() == '/cardtrans' ? 'active':''}">
                <a th:href="@{cardtrans}">
                    <i class="pe-7s-news-paper"></i>
                    <p class="linkTitle">Card Transactions</p>
                </a>
            </li>


            <li  class="link" + th:classappend="${#httpServletRequest.getRequestURI() == '/viewCard' ? 'active':''}">

                <a th:href="@{viewCard}" >
                    <i class="pe-7s-glasses"></i>
                    <p class="linkTitle">View Card</p>
                </a>

            </li>


            <li  class="link" + th:classappend="${#httpServletRequest.getRequestURI() == '/addCard' ? 'active':''}">

                <a th:href="@{addCard}" >
                    <i class="pe-7s-credit"></i>
                    <p class="linkTitle">Add New Card</p>
                </a>

            </li>


            <li  class="link" + th:classappend="${#httpServletRequest.getRequestURI() == '/user' ? 'active':''}">

                <a th:href="@{user}" >
                    <i class="pe-7s-user"></i>
                    <p class="linkTitle">User</p>
                </a>

            </li>



            <li class="link" + th:classappend="${#httpServletRequest.getRequestURI() == '/logs' ? 'active':''}">
                <a th:href="@{logs}">
                    <i class="pe-7s-note2"></i>
                    <p class="linkTitle">Logs</p>
                </a>
            </li>

        </ul>


    </div>
</div>



</main>



</body>
</html>