<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Card Control Administration | Requests</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables_themeroller.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap-datetimepicker.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />

    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>
    <script th:src="@{/js/previewRequest.js}"></script>
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" />
    <script th:src="@{/js/select2.min.js}"></script>
</head>
<body class="page-header-fixed">
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>


    <div class="page-inner">
        <div class="page-title">
            <h3>Pending Requests.</h3>
        </div>
        <div id="main-wrapper">
            <div id="content-wrapper">

                <div class="content-inner">
                    <!--<a href="" class="hover-popup"></a>-->
                    <!--<section class="popup-container">-->
                        <!--<div class="popup-box">-->
                        <!--<p></p>-->
                    <!--</div></section>-->

                    <table id="requestsTable">
                        <thead>
                        <tr>
                            <th>Serial No.</th>
                            <th>Request Type.</th>
                            <th>Status</th>
                            <th>Date Requested</th>
                            <th>Initiator</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody th:unless="${#lists.isEmpty(adminRequests)}">
                            <tr th:each="request, index :${adminRequests}">
                                <td th:text="${index.count}"></td>
                                <td th:text="${{request.typeOfRequest.getRequestType()}}" class="hover-popup">
                                </td>
                                <td th:text="${{request.approved}}?'APPROVED':'PENDING'"></td>
                                <td th:text="${{request.requestDate}}"></td>
                                <td th:text="${{request.initiator}}"></td>
                                <td style="display:flex;">
                                    <!--<span class="glyphicon glyphicon-eye-open iconspace" data-toggle="tooltip" title="View"-->
                                          <!--th:attr="onclick=|userEdit('${index.count}','','','','')|"></span>-->
                                    <button class="submit" th:text="Preview" th:attr="onclick=|previewDetail('${{request.typeOfRequest.getRequestType()}}','${{request.requestDetail.maskedPan}}','${{request.requestDetail.encryptedFullPan}}','${{request.requestDetail.blocked}}','${{request.requestDetail.dailyLimit}}','${{request.requestDetail.monthlyLimit}}','${{request.requestDetail.allowedCountries}}','${{request.requestDetail.username}}','${{request.requestDetail.userRole}}')|"></button>
                                    <form th:action="@{/app/requests}" method="post">
                                            <input type="hidden" th:value="${request.id}" name="rqId" />
                                            <input type="hidden" th:value="true" name="rqState" />
                                            <button class="submit" th:text="Approve"></button>
                                        </form>
                                        <!--<form th:action="@{/app/processRequests(rqId=${request.id},rqState=true)}" class="btn" th:text="Approve"></form>-->
                                        <form th:action="@{/app/requests}" method="post">
                                            <input type="hidden" th:value="${request.id}" name="rqId" />
                                            <input type="hidden" th:value="false" name="rqState" />
                                            <button class="submit" th:text="Decline"></button>
                                        </form>
                                        <!--<a th:href="@{/app/processRequests(rqId=${request.id},rqState=false)}" class="btn" th:text="Decline"></a>-->
                                </td>

                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="">Request Details.</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <em>Request Type:<label id="rqType" /></em>
                                </div>

                                <div class="form-group">
                                    <em>Masked Pan:<label id="maskedPan" /></em>

                                </div>

                                <div class="form-group">

                                </div>


                                <div class="form-group">


                                </div>

                                <div class="form-group">


                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>
<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>
</body>
</html>