<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" />
    <title>Card Control Administration | All Transactions</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/jquery-ui/jquery-ui.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables_themeroller.css}"
          rel="stylesheet" type="text/css" />

    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />

    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>

</head>

<body class="page-header-fixed">

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>

    <div class="page-inner">
        <div class="page-title">
            <h3>Other Cards Transactions.</h3>
        </div>
        <div id="main-wrapper">
            <div id="content-wrapper">

                <div class="content-inner">
                    <div class="row">
                        <div class='col-sm-2 column-in-center' >
                            <div class="form-group">
                                <div class='input-group date' id='from'>
                                    <input type='text' placeholder="From" class="form-control filter" id="dateFrom" />
                                    <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar form_date"></span>
                         </span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-2 column-in-center'>
                            <div class="form-group">
                                <div class='input-group date' id='to'>
                                    <input type='text' placeholder="To" class="form-control filter" id="dateTo" />
                                    <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                         </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-2 column-in-center'>
                            <div class="form-group">

                            <input type="text" id="searchField" placeholder="CUST ID" class="form-control filter" />

                            </div>
                        </div>
                        <div class='col-sm-2 column-in-center'>
                            <div class="form-group">
                                <input type="button" class="" value="Search Transaction" id="SearchTrxn" name="SearchTrxn" />
                            </div>
                        </div>

                        <!--<input type="text" class="" name="dateFrom" id="dateFrom" class="form-control filter" />-->
                        <!--<span class="input-group-addon"></span>-->
                        <!--<span class="glyphicon glyphicon-calendar"></span>-->

                        <!--<input type="text" class="" name="dateTo" id="dateTo" class="form-control filter" />-->
                            <!--<span class="input-group-addon"></span>-->
                        <!--<span class="glyphicon glyphicon-calendar"></span>-->

                        <!--<input type="text" id="searchField" placeholder="CUST ID" class="form-control filter" />-->

                        <!--<input type="button" class="" value="SearchTrxn" id="Search" name="Search" />-->

                    </div>
                    <table class="display table tbData" id="allCardsTrans">
                        <thead class="">
                        <tr>
                            <th>Account No.</th>
                            <th>CustID</th>
                            <th>Amount</th>
                            <th>Channel</th>
                            <th>Terminal ID</th>
                            <th>Location</th>
                            <th data-priority="6">Date</th>
                            <th>View Response</th>
                        </tr>
                        </thead>
                        <!--<tbody th:unless="${#lists.isEmpty(transactions)}">-->
                        <!--<tr th:each="cardTransation : ${transactions}">-->
                            <!--<td th:text="${cardTransation.acctNumber}"></td>-->
                            <!--<td th:text="${cardTransation.pan}"></td>-->
                            <!--<td th:text="${cardTransation.amount}"></td>-->
                            <!--<td th:text="${cardTransation.channel}"></td>-->
                            <!--<td th:text="${cardTransation.terminalID}"></td>-->
                            <!--<td th:text="${cardTransation.location}"></td>-->
                            <!--<td th:text="${cardTransation.trxDate}"></td>-->
                            <!--<td th:text="${cardTransation.trxDate}"></td>-->
                            <!--<td><a class="btn" th:href="@{/app/viewTrxResponse(pan=${cardTransation.pan}, rrnNo=${cardTransation.rrnNumber},stan=${cardTransation.stan},acctNo=${cardTransation.acctNumber})}" >View Response</a></td>-->

                        <!--</tr>-->

                        <!--</tbody>-->
                    </table>

                </div>
            </div>
        </div>

        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>


<script type="text/javascript">
var csrfParameter = '${_csrf.parameterName}';
var csrfToken = '${_csrf.token}';
    $(function () {
        $('#from, #dateFrom').datetimepicker({
            //                    defaultDate: "11/1/2013",
            // format: 'MM/DD/YYYY'
            format: 'YYYY-MM-DD'

        });
    });

    $(function () {
        $('#to, #dateTo').datetimepicker({
            //                    defaultDate: "11/1/2013",
            // format: 'MM/DD/YYYY'
            format: 'YYYY-MM-DD'


        });
    });
</script>


</body>
</html>