<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" charset="UTF-8" />
<title>Card Control Administration | Card Control Transactions</title>
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
	rel="stylesheet" type="text/css" />

<link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
	type="text/css" />

	<link th:href="@{/css/select2.min.css}" rel="stylesheet" />
	<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>
	<script th:src="@{/js/select2.min.js}"></script>
</head>

<body class="page-header-fixed">

		<main class="page-content content-wrap">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="sidebar-pusher">
					<a href="javascript:void(0);" class="push-sidebar">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div class="logo-box">
					<a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
				</div>
				<div th:replace="fragments/topMenu :: topMenu">

				</div>

			</div>
		</div>
		<div th:replace="fragments/pageSideBar :: pageSideBar">

		</div>


		<div class="page-inner">
			<div class="page-title">
				<h3>Dashboard | Card Control Transactions</h3>
			</div>
            <div class="row">
                <div class="content-inner-card">

                    <div class="card-group">
                        <div class="card">
                            <div class="card-body" id="masterCardServer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex no-block align-items-center">

                                            <div class="ml-auto">
                                                <h1 class="font-light"  >Master Card</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" id="visaServer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex no-block align-items-center">

                                            <div class="ml-auto">
                                                <h1 class="font-light" >VISA SERVER</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" id="verveServer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex no-block align-items-center">

                                            <div class="ml-auto">
                                                <h1 class="font-light" >Verve Card</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
			<div id="main-wrapper">
				<div id="content-wrapper">

					<div class="content-inner">

						<table class="display table tbData" id="cardTrxns">
							<thead class="">
								<tr>
									<th>Account No.</th>
									<th>Pan</th>
									<th>Amount</th>
									<th>Channel</th>
									<th>Terminal ID</th>
									<th>Location</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody th:unless="${#lists.isEmpty(transactions)}">
							<tr th:each="cardTransation : ${transactions}">
								<td th:text="${cardTransation.acctNumber}"></td>
								<td th:text="${cardTransation.pan}"></td>
								<td th:text="${cardTransation.amount}"></td>
								<td th:text="${cardTransation.channel}"></td>
								<td th:text="${cardTransation.terminalID}"></td>
								<td th:text="${cardTransation.location}"></td>
								<td th:text="${cardTransation.trxDate}"></td>
							</tr>

							</tbody>
						</table>

					</div>
				</div>
			</div>
			
			<div class="page-footer">
                <p class="no-s">Copyright &copy; i.Sec <span th:text="${currentYear}"></span></p>
			</div>
		</div>
		 </main>

		<div class="cd-overlay"></div>

		<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
		<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
		<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
		<script th:src="@{/vendor/waves/waves.min.js}"></script>
		<script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>
		<script th:src="@{/js/modern.min.js}"></script>
		<script th:src="@{/js/Chart.bundle.js}"></script>
	</body>
</html>