<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta http-equiv="content-type" charset="UTF-8" />
    <title>Card Control Administration | Card Transaction</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />

    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>


</head>
<body class="page-header-fixed">
<div class="overlay"></div>
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>
            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>

    <div th:replace="fragments/pageSideBar :: pageSideBar">
    </div>

    <div class="page-inner">
        <div class="page-title">
            <h3>Card Transactions For ( <span th:if="${search}" th:text="${cardTransaction.pan}" style="color:red"></span> ) (<span th:if="${search}" th:text="${cardTransaction.acctNumber}" style="color:red"></span>)</h3>

        </div>
        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <div class="row dropbuttom">


                            <form th:action="@{/app/cardTrxn}" method="post" th:object="${cardTransaction}">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" id="id" class="form-control" placeholder="Account No" required="required" th:field="${cardTransaction.acctNumber}" />
                                    </div>
                                </div>


                                <div class="col-md-4">

                                <div class="form-group">
                                    <input type="text" id="id" class="form-control" placeholder="PAN (Last 4 Digits)" required="required"  th:field="${cardTransaction.pan}" />
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">

                                <button type="submit"  class="btn btn-danger btn-block">View Transactions</button>
                                    </div>
                                </div>
                            </form>



                    </div>

                    <div class="table-responsive">
                        <table id="cardTrans" class="display table tbData" >
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Account Number</th>
                                <th>Location</th>
                                <th>Channel</th>
                                <th>Amount</th>
                                <th>Time</th>
                                <th>View Response</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:unless="${#lists.isEmpty(cardTransactionList)}" th:each=" transaction : ${cardTransactionList}">
                                <td th:text="${transactionStat.count}"></td>
                                <td th:text="${transaction.acctNumber}"></td>
                                <td th:text="${transaction.location}"></td>
                                <td th:text="${transaction.channel}"></td>
                                <td th:text="${transaction.amount}"></td>
                                <td th:text="${transaction.trxDate}"></td>
                                <td><a class="btn" th:href="@{/app/viewTrxResponse(pan=${transaction.pan}, rrnNo=${transaction.rrnNumber},stan=${transaction.stan},acctNo=${transaction.acctNumber})}" >View Response</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
        </div>

        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>
</body>
</html>