<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Card Control Administration | Card Setting</title>

<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta http-equiv="content-type" charset="UTF-8" />

<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}"
	rel="stylesheet" type="text/css" />


<link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/themes/green.css}" class="theme-color"
		  rel="stylesheet" type="text/css"/>
<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/sockjs.min.js}"></script>
	<script th:src="@{/js/vertx-eventbus.min.js}"></script>
<!--<script th:src="@{/js/mycustom.js}"></script>-->

</head>
<body class="page-header-fixed">
	<div class="overlay"></div>

	<main class="page-content content-wrap">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="sidebar-pusher">
				<a href="javascript:void(0);" class="push-sidebar"> <i
					class="fa fa-bars"></i>
				</a>
			</div>
			<div class="logo-box">
				<a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
			</div>

			<div class="search-button">
				<a href="javascript:void(0);" class="show-search"><i
					class="fa fa-search"></i></a>
			</div>
			<div th:replace="fragments/topMenu :: topMenu">

			</div>

		</div>
	</div>
		<div th:replace="fragments/pageSideBar :: pageSideBar">

		</div>
		<div class="page-inner">
		<div class="page-title">
			<h3>Card Setting [<span th:if="${search}" th:text = "${cardSettingBean.pan}" style="color:red;"></span>]
				<!--[<span th:if="${cardSettingBean.acctNumber != null }? ${cardSettingBean.acctNumber}" th:text = "${cardSettingBean.acctNumber}"></span>]-->
			</h3>

		</div>
		<div id="main-wrapper">


			<div id="content-wrapper">

				<div class="content-inner">

					<div class="row dropbuttom">

						<form id="users-trans-form" th:object="${cardSettingBean}" th:action="@{/app/viewCardSetting}"
							  method="post">
							<div class="col-md-4">

								<div class="form-group">
									<input type="text" name="panNumber" id="id"
										   class="form-control" placeholder="MASKED PAN" required="required" size="10" th:field="${cardSettingBean.pan}" />
								</div>
							</div>
							<div class="col-md-4">

							<div class="form-group">
									<input type="text" name="custID" id="id"
										   class="form-control" placeholder="CUST ID" required="required" size="10" th:field="${cardSettingBean.custID}" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">

							<button type="submit"
									class="btn btn-danger btn-block">View Card Settings</button>
								</div>
							</div>

						</form>

					</div>
					<!--<form th:action="@{/app/editSettings}" method="post">-->
					<div class="option" th:if="${search}">
						<ul th:each="cardSettingDisplayBean : ${cards}">
							<li>
								<div class="row">
									<div class="col-md-6">
										<div class="padOption">Card Locked</div>

									</div>
									<div class="col-md-6">
										<div class="pull-left">

											<input type="checkbox" class="form-control placeH" style = 'height:20px;width:20px;' placeholder="Locked" disabled="disabled" th:checked="${cardSettingDisplayBean.blocked}?'checked'" />
										</div>
									</div>
								</div>
							</li>

							<li>
								<div class="row">
									<div class="col-md-6">
										<div class="padOption">Daily Limit</div>

									</div>
									<div class="col-md-6">
										<div class="pull-left">

											<input type="text" class="form-control placeH"
												placeholder="Limit" th:if="${cardSettingDisplayBean.dailyLimit != null }" th:value="${cardSettingDisplayBean.dailyLimit}" disabled="disabled" />
										</div>
									</div>
								</div>
							</li>


							<li>
								<div class="row">
									<div class="col-md-6">
										<div class="padOption">Monthly Limit</div>

									</div>
									<div class="col-md-6">
										<div class="pull-left">

											<input type="text" class="form-control placeH"
												placeholder="Limit" th:if="${cardSettingDisplayBean.monthlyLimit != null }" th:value="${cardSettingDisplayBean.monthlyLimit}" disabled="disabled" />
										</div>
									</div>
								</div>
							</li>
							<!--<li>-->
								<!--<div class="row" th:unless="${#lists.isEmpty(cardSettingDisplayBean.countriesList)}">-->
									<!--<div class="col-md-12">-->
										<!--<div th:each="allowedCountry : ${cardSettingDisplayBean.countriesList}" class="padOption">-->
											<!--<span th:text="${{allowedCountry.countryName}}">-->

											<!--</span>-->
											<!--<span class="pull-right">-->
												<!--<label th:each="channel : ${channelsList}" class="checkbox-inline">-->
													<!--<input type = 'checkbox' id="inlineCheckbox1" name="channel" disabled="disabled" th:checked="${#lists.contains(allowedCountry.allowedTransactionChannels,channel)}?'checked'"  th:text="${{channel}}"/>-->

												<!--</label>-->
											<!--</span>-->

										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</li>-->

							<li>
								<div class="row" th:unless="${#lists.isEmpty(cardSettingDisplayBean.countriesList)}" th:each="allowedCountry : ${cardSettingDisplayBean.countriesList}">
									<div class="col-md-6">
										<div  class="padOption">
											<span th:text="${{allowedCountry.countryName}}">

											</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="padOption">
											<span class="pull-left">
												<label th:each="channel : ${channelsList}" class="checkbox-inline">
													<input type = 'checkbox' id="inlineCheckbox1" name="channel" disabled="disabled" th:checked="${#lists.contains(allowedCountry.allowedTransactionChannels,channel)}?'checked'"  th:text="${{channel}}"/>

												</label>
											</span>

										</div>
									</div>
								</div>
							</li>
					<li th:each="allowedCountry:${cardSettingBean.countriesList}">
						<div class="row">
							<div class="col-md-6">
								<div>
									<span th:text="${{allowedCountry.twoDigitCode}}"></span>
								</div>

							</div>
							<div class="col-md-6">

								<div>
									<label class="checkbox-inline" th:each="channel : ${channelsList}"> <input
											type="checkbox" id="inlineCheckbox1" th:value="${{channel}}" th:text="${{channel}}" disabled="disabled" th:checked="${#lists.contains(allowedCountry.allowedTransactionChannels,channel)}?'checked'" />

									</label>

								</div>

							</div>
						</div>
						</li>
							<li>
								<div class="pull-right">
									<a th:href="@{/app/editCard(encryptedPan=${cardSettingBean.encryptedFullPan},maskedPan=${cardSettingBean.pan},custID=${cardSettingBean.custID},acctNo=${cardSettingBean.acctNumber})}" class="btn btn-primary">Edit Card Settings.</a>
								</div>
							</li>
						</ul>

					</div>

				</div>

			</div>
		</div>
		<div class="page-footer">
			<p class="no-s">Copyright &copy; i.Sec 2018</p>
		</div>
	</div>
	</main>

	<div class="cd-overlay"></div>

	<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
	<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
	<script th:src="@{/vendor/waves/waves.min.js}"></script>
	<script th:src="@{/js/modern.min.js}"></script>
	<script th:src="@{/js/Chart.bundle.js}"></script>
</body>
</html>