<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Card Control Administration | Select Card</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />
    <link
            th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}"
            rel="stylesheet" type="text/css" />


    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>
</head>
<body class="page-header-fixed">
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>


    <div class="page-inner">
        <div class="page-title">
            <h3>Please Select Card To Control.[<span style="color:red;" th:text= "${acctNumber}"></span>]</h3>
        </div>
        <div id="main-wrapper">
            <div id="content-wrapper">

                <div class="content-inner">

                    <table id="cardsTable" th:unless="${#lists.isEmpty(cards)}">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Masked PAN</th>
                            <th>Encrypted PAN</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr th:each="card : ${cards}">
                            <td th:text="${cardStat.count}"></td>
                            <td th:text="${card.MaskedPan}"></td>
                            <td th:text="${card.EncryptedPan}"></td>
                            <td>
                                <form th:action="@{/app/addCard}" method="get">
                                    <input type="hidden" th:value="${card.MaskedPan}" name="maskedPan" />
                                    <input type="hidden" th:value="${card.EncryptedPan}" name="encryptedPan" />
                                    <input type="hidden" th:value="${acctNumber}" name="acctNo" />

                                    <button class="submit" value="Control Card">Control Card</button>
                                </form>
                            </td>

                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>

        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
<!--<script th:src="@{/vendor/waves/waves.min.js}"></script>-->
<!--<script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>-->
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>
<script th:src="@{/js/d3.v3.min.js}"></script>
</body>
</html>