<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Card Control Administration | Card Setting</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}" rel="stylesheet" type="text/css"></link>

    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css"></link>
</head>
<body class="page-header-fixed">
<div class="overlay"></div>

    <main class="page-content content-wrap">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="sidebar-pusher">
                    <a href="javascript:void(0);" class="push-sidebar"> <i
                            class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="logo-box">
                    <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
                </div>

                <div class="search-button">
                    <a href="javascript:void(0);" class="show-search"><i
                            class="fa fa-search"></i></a>
                </div>
                <div th:replace="fragments/topMenu :: topMenu">

                </div>
            </div>
        </div>

        <div th:replace="fragments/pageSideBar :: pageSideBar">
        </div>

        <div class="page-inner">
            <div class="page-title">
                <h3>Control Card Setting <span th:text="${cardSettingRequest.requestDetail.maskedPan}"></span> <span th:text="${cardSettingRequest.requestDetail.custID}"></span></h3>

            </div>
            <div id="main-wrapper">


                <div id="content-wrapper">

                    <div class="content-inner">
                        <div class="row dropbuttom">

                            <form id="users-trans-form" action="javascript:void(0);">

                                <div class="col-md-6">


                                    <div class="form-group">
                                        <input type="text" name="maskedPan" id="maskedPan" class="form-control" placeholder="Pan Number" required>
                                    </div>

                                </div>

                                <div class="col-md-6">


                                    <div class="form-group">
                                        <input type="text" name="custId" id="custId" class="form-control" placeholder="Customer ID" required>
                                    </div>

                                </div>



                            </form>

                            </form>

                        </div>



                        <div class="option">
                            <ul id="card_Setting">

                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select id="allowed-countries-channel" multiple="multiple">
                                                <option th:each="allowedCountry, rowStat : *{countries}" th:value="${codes[__${rowStat.index}__]}" th:text="${allowedCountry}"></option>
                                            </select>

                                        </div>
                                        <!--<div class="col-md-6">-->
                                            <!--<select id="example-multiple-selected" multiple="multiple">-->
                                                <!--<option value="NG">Nigeria</option>-->
                                                <!--<option value="Uk">Unite Kingdom</option>-->

                                                <!--<option value="US">United States</option>-->
                                                <!--<option value="CH">China</option>-->
                                                <!--<option value="GM">Germany</option>-->
                                                <!--<option value="BM">Belgium</option>-->
                                            <!--</select>-->

                                        <!--</div>-->
                                        <div class="col-md-6"><div class="pull-right">

                                            <div class="limit"> <input type="checkbox" checked data-toggle="toggle" id="locked"/></div>
                                            <div class="toggleBtn lockPad">Lock Card</div>

                                        </div></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="padOption">Daily Limit</div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="limitContainer pull-right">

                                                <div class="toggleBtn">  <input type="text" class="form-control placeH" placeholder="Daily Limit" id="dailyLimit" maxlength="6" /></div>

                                            </div>


                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="padOption">Monthly Limit</div>

                                        </div>
                                        <div class="col-md-6">


                                            <div class="limitContainer pull-right">

                                                <div class="toggleBtn">  <input type="text" class="form-control placeH" placeholder="Monthly Limit" id="monthlyLimit" maxlength="6"></div>

                                            </div>
                                        </div>

                                    </div>

                                </li>


                            </ul>


                            <div class="row">
                                <div class="col-md-4">


                                </div>

                                <div class="col-md-4">

                                    <button type="submit" id="saveCard" class="btn btn-primary btn-block">Save Card </button>

                                </div>
                                <div class="col-md-4">

                                </div>

                            </div>


                        </div>

                    </div>




                </div>
            </div>


            <div class="page-footer">
                <p class="no-s">Copyright &copy; i.Sec 2018</p>
            </div>
        </div>
    </main>

    <div class="cd-overlay"></div>

    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/vendor/waves/waves.min.js}"></script>
    <script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>
    <script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
    <script th:src="@{/js/modern.min.js}"></script>
    <script th:src="@{/js/bootstrap-multiselect.js}"></script>
    <script th:src="@{/js/bootstrap-toggle.min.js}"></script>
    <script th:src="@{/js/setupCard.js}"></script>
    <script th:src="@{/js/Chart.bundle.js}"></script>
    </body>
</html>