<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        

        <title>i.Sec Card Control Administration | All Cards Transactions</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta charset="UTF-8" />

        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/vendor/fontawesome/css/font-awesome.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}" rel="stylesheet" type="text/css" />

        <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/c3.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
        <!--<script th:src="@{/js/custom.js}"></script>-->
        
    </head>
    <body class="page-header-fixed">
        <div class="overlay"></div>
   
        <form class="search-form" action="#" method="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control search-input" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default close-search" type="button"><i class="fa fa-times"></i></button>
                </span>
            </div>
        </form>
        <main class="page-content content-wrap">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="push-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="logo-box">
                        <a th:href="index.html" class="logo-text"><span>i.Sec</span></a>
                    </div>
                    <div class="search-button">
                        <a href="javascript:void(0);" class="show-search"><i class="fa fa-search"></i></a>
                    </div>
                    <!--<div class="topmenu-outer">-->
                        <!--<div class="top-menu">-->
                            <!---->
                            <!--<ul class="nav navbar-nav navbar-right">-->
                                <!--<li>	-->
                                    <!--<a href="javascript:void(0);" class="show-search"><i class="fa fa-search"></i></a>-->
                                <!--</li>-->
                                <!--<li class="dropdown">-->
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success pull-right">4</span></a>-->
                                   <!---->
                                <!--</li>-->
                                <!--<li class="dropdown">-->
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-success pull-right">3</span></a>-->
                                   <!---->
                                <!--</li>-->
                                <!--<li class="dropdown">-->
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                        <!--<span class="user-name">Balogun<i class="fa fa-angle-down"></i></span>-->
                                        <!--<img class="img-circle avatar" th:src="@{http://lorempixel.com/400/200}" width="40" height="40" alt="" />-->
                                    <!--</a>-->
                                   <!---->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="index.html" class="log-out">-->
                                        <!--<span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>-->
                                    <!--</a>-->
                                <!--</li>-->

                                <!--<li>-->
                                   <!--<div class="logo">-->
                                    <!--<img th:src="@{/img/access_logos.png}" />-->
                                   <!--</div> -->
                                <!--</li>-->
                                <!---->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>



<!--======================================================================SIDEBAR===================================================================== -->

            <!--<div class="page-sidebar sidebar">-->
                <!--<div class="page-sidebar-inner slimscroll">-->

                    <!--<ul>-->

                     <!--<li class="link active">-->
                        <!--<a href="dashboard.html">-->
                         <!--&lt;!&ndash; <span class="pe-7s-graph" aria-hidden="true"></span> &ndash;&gt;-->
                         <!--<i class="pe-7s-graph"></i>-->
                        <!--<p class="linkTitle">Dashboard</p>-->
                        <!--</a>-->
                     <!--</li>-->



                     <!--<li class="link">-->
                        <!--<a href="cardTransaction.html">-->
                         <!--<i class="pe-7s-credit"></i>-->
                         <!--<p class="linkTitle">Card Transactions</p>-->
                        <!--</a>-->
                     <!--</li>-->


                     <!--<li class="link">-->
                        <!--&lt;!&ndash; <a href="#collapse-profile" data-toggle="collapse" aria-controls="collapse-profile"> &ndash;&gt;-->
                        <!--<a href="cardSetting.html" >-->
                         <!--<i class="pe-7s-config"></i>-->
                         <!--<p class="linkTitle">Card Setting</p>-->
                        <!--</a>-->


                        <!--&lt;!&ndash; <ul class="collapse collapseable" id="collapse-profile">-->
                            <!--<li>-->
                              <!--<a href="#">New Profile</a>-->
                            <!--</li>-->

                            <!--<li>-->
                                  <!--<a href="#">View Profile</a>-->
                           <!--</li>-->

                          <!--</ul> &ndash;&gt;-->
                     <!--</li>-->

                     <!---->


                             <!--<li class="link">-->
                                <!--<a href="logs.html">-->
                                 <!--<i class="pe-7s-note2"></i>-->
                                 <!--<p class="linkTitle">Logs</p>-->
                                <!--</a>-->
                             <!--</li>-->



                            <!---->



                    <!--</ul>-->
                 <!---->
                   <!---->
                <!--</div>&lt;!&ndash; Page Sidebar Inner &ndash;&gt;-->
            <!--</div>&lt;!&ndash; Page Sidebar &ndash;&gt;-->

            <div th:replace="fragments/pageSideBar :: pageSideBar">

            </div>
 <!-- ======================================================================BODY===================================================================== -->

            <div class="page-inner">
                <div class="page-title">
                    <h3>Dashboard</h3>
                     
                </div>
                <div id="main-wrapper">
                    

                    <div id="content-wrapper">
                    
                        <div class="content-inner">

                            <table class="display table tbData" id="allCardsTrans">
                                <thead class="">
                                       <tr>
                                           <th>Transaction ID</th>
                                           <th>Pan</th>
                                           <th>Amount</th>
                                           <th>Channel</th>
                                            <th>Location</th>
                                           <th>Date</th>
                                           <th>Status</th>
                                       </tr>
                                       </thead>
                                   <tbody>
                                     <tr>
                                       <td>TR4859495</td>
                                       <td>0034******56</td>
                                       <td>4,800</td>
                                         <td>POS</td>
                                         <td>Lagos</td>
                                          <td>02-01-2018</td>
                                          <td><button type="button" class="btn btn-success btn-xs ">Approved</button></td>     
                                     </tr>
                                   
                                     <tr>
                                        <td>TR4859495</td>
                                        <td>0034******56</td>
                                        <td>3,500</td>
                                          <td>ATM</td>
                                          <td>Island</td>
                                           <td>02-01-2018</td>
                                           <td><button type="button" class="btn btn-success btn-xs ">Approved</button></td> 
                                       </tr>
                                       
                                       
                                       
                                        <tr>
                                            <td>TR4859495</td>
                                            <td>0034******56</td>
                                            <td>5,800</td>
                                              <td>WEB</td>
                                              <td>Ibadan</td>
                                               <td>02-01-2018</td>
                                               <td><button type="button" class="btn btn-success btn-xs ">Approved</button></td>   
                                       </tr>
                                       
                                   
                                       
                                     
                                     
                                   </tbody>
                                 </table>
                 
                                          
                                          




                                     
                        </div>

                              

                   


                     </div>
                </div>


                <div class="page-footer">
                    <p class="no-s">Copyright &copy; i.Sec 2018</p>
                </div>
            </div>
        </main>
        
        <div class="cd-overlay"></div>


	

        <!-- Javascripts -->
        <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
        <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/vendor/jquery-blockui/jquery.blockui.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
        <script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/vendor/switchery/switchery.min.js}"></script>
        <script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
        <script th:src="@{/vendor/waves/waves.min.js}"></script>
        <script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>
        <script th:src="@{/js/modern.min.js}"></script>
        <script th:src="@{/js/Chart.bundle.js}"></script>
        <script th:src="@{/js/d3.v3.min.js}"></script>
        <script th:src="@{/js/c3.min.js}"></script>
        <!--<script th:src="@{/js/custom.js}"></script>-->
        <script th:src="@{/js/toastr.js}"></script>
        <script th:src="@{/js/loading.js}"></script>
        <script th:src="@{/js/utils.js}"></script>

        
    </body>
</html>