<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Card Control Administration | Edit User</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta http-equiv="content-type" charset="UTF-8" />

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css" />
    <!--<link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"-->
          <!--rel="stylesheet" type="text/css" />-->
    <!--<link-->
            <!--th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}"-->
            <!--rel="stylesheet" type="text/css" />-->


    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <!--<link th:href="@{/css/c3.min.css}" rel="stylesheet" type="text/css" />-->
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <!--<script th:src="@{/js/mycustom.js}"></script>-->

</head>
<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar"> <i
                        class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>

            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>
        </div>
    </div>

    <div th:replace="fragments/pageSideBar :: pageSideBar">
    </div>

    <div class="page-inner">
        <div class="page-title">
            <h3>Edit User: <span style="color:red;" th:text="${editCardAdminUser.username}"></span> </h3>
            <div th:if="${param.saved}">
                <div class="alert alert-info">
                    User [ <span style="color:red;" th:text="${editCardAdminUser.username}"></span> ] Has Been Edited Successfully.
                </div>
            </div>
        </div>
        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <div class="row dropbuttom">

                        <div class="col-md-6 col-md-offset-3">
                            <form id="users-trans-form" th:object="${editCardAdminUser}" th:action="@{/app/processEditUser}"
                                  method="post">
                                <div class="alert alert-info" th:if="${#fields.hasErrors('*')}">
                                    <ul th:if="${#fields.hasErrors('*')}">
                                        <li th:each="err:${#fields.errors('*')}" th:text="${err}" class="error"></li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <input type="hidden" name="userId"
                                           class="form-control"  th:field="${editCardAdminUser.id}" th:value="${editCardAdminUser.id}"/>
                                    <input type="hidden"
                                           class="form-control"  th:field="${editCardAdminUser.password}" th:value="${editCardAdminUser.password}"/>
                                    <input type="hidden"
                                           class="form-control"  th:field="${editCardAdminUser.username}" th:value="${editCardAdminUser.username}"/>

                                    <input type="text" name="username" id="id"
                                           class="form-control" placeholder="Username"  size="10" th:field="${editCardAdminUser.username}" th:value="${editCardAdminUser.username}"  disabled="disabled"/>
                                    <br/>
                                    <label for="enabled"> Enabled: <input type="checkbox" name="enabled"
                                                                          th:field="${editCardAdminUser.accountEnabled}"
                                                                          th:checked="(${editCardAdminUser.enabled} eq 1 ) ?'checked'"/>
                                    </label>
                                    <br/>
                                    <label>Role:
                                        <select th:field="${editCardAdminUser.role}"  class="form-control">
                                            <option th:value="${role}" th:each="role:${userRoleList}" th:text="${role.roleName}"></option>
                                        </select>
                                    </label>

                                </div>
                                <div>
                                    <button type="submit" id="users-trans"
                                            class="btn btn-danger btn-block" th:disabled="${param.saved}?'disabled'">Edit User</button>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>


<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>

</body>
</html>