<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Card Control Administration | Edit Card Setting</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta http-equiv="content-type" charset="UTF-8"/>

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css"/>
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar"> <i
                        class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>

            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>
    <div class="page-inner">
        <div class="page-title">
            <h3>Edit Card Setting [<span th:if="${editCardSettingBean.maskedPan != null }? ${editCardSettingBean.maskedPan}"
                                         th:text="${editCardSettingBean.maskedPan}" style="color:red;"></span>] [<span
                    th:if="${editCardSettingBean.custID != null }? ${editCardSettingBean.custID}"
                    th:text="${editCardSettingBean.custID}" style="color:red;"></span>]</h3>

        </div>
        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <div class="row dropbuttom">


                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group">
                                <input type="text" name="custId" id="custId"
                                       class="form-control" required="required" size="10"
                                       disabled="disabled" th:value="${editCardSettingBean.custID}"/><br/>
                                <input type="text" name="maskedPan" id="maskedPan"
                                       class="form-control" required="required"
                                       size="10" disabled="disabled" th:value="${editCardSettingBean.maskedPan}"/>
                            </div>
                        </div>

                    </div>
                        <!--<input type="hidden" th:value="${editCardSettingBean.id}" th:field="${editCardSettingBean.id}"/>-->
                        <div class="option">
                            <ul id="card_Setting">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select id="allowed-countries-channel" multiple="multiple">
                                                <option th:each="allowedCountry, rowStat : *{countries}" th:value="${codes[__${rowStat.index}__]}" th:text="${allowedCountry}" th:selected="${#lists.contains(editCardSettingBean.countryNames,allowedCountry)}?'selected'"></option>
                                            </select>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <div class="limit">
                                                    <input type="checkbox" class="form-control placeH" id="locked"
                                                           style='height:20px;width:20px;' placeholder="Locked" checked data-toggle="toggle"
                                                           th:checked="${editCardSettingBean.blocked}?'checked'"
                                                    />
                                                </div>
                                                <div class="toggleBtn lockPad">Lock Card</div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="padOption">Daily Limit</div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right">

                                                <input type="text" class="form-control placeH" id="dailyLimit"
                                                       placeholder="Daily Limit"
                                                       th:if="${editCardSettingBean.dailyLimit != null }"
                                                       th:value="${editCardSettingBean.dailyLimit}"
                                                      />
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="padOption">Monthly Limit</div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right">

                                                <input type="text" class="form-control placeH"
                                                       placeholder="Monthly Limit" id="monthlyLimit"
                                                       th:if="${ editCardSettingBean.monthlyLimit != null }"
                                                       th:value="${editCardSettingBean.monthlyLimit}"
                                                       ></input>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row" th:each="allowedCountry, countryIndex:${editCardSettingBean.countriesList}">

                                                <div class="col-md-6">
                                                    <div th:text="${{allowedCountry.countryName}}" th:id="${allowedCountry.twoDigitCode}">

                                                    </div>

                                                </div>
                                                <div class="col-md-6">

                                                    <div class="pull-right ">
                                                        <label class="checkbox-inline"
                                                               th:each="channel : ${channelsList}"> <input
                                                                type="checkbox" th:id="${#strings.append(allowedCountry.countryName,channel)}" name="channel"
                                                                th:value="${{channel}}" th:text="${{channel}}"
                                                                th:checked="${#lists.contains(allowedCountry.allowedTransactionChannels,channel)}?'checked'"
                                                                 />

                                                        </label>

                                                    </div>


                                                </div>
                                            </div>
                                </li>

                            </ul>



                            <div class="pull-right">
                                <input type="submit" id="editCard" class="btn btn-primary"
                                       value="Edit Card Settings."></input>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>


<script th:src="@{/js/bootstrap-multiselect.js}"></script>
<script th:src="@{/js/bootstrap-toggle.min.js}"></script>
<script th:src="@{/js/setupCard.js}"></script>
</body>
</html>