<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Card Control Administration | Index</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css" />

    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />

    <link th:href="@{/css/loading.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />
</head>
<body>
<section class="loginContainer">
    <div class="inner">
        <div class="providusLogo">

            <img th:src="@{/img/fcmb_logo.png}" />

        </div>
        <div class="loginwrap">

            <div class="row">

                <div class="col-md-9 left">
                    <div class="topTxt">Login</div>
                    <div class="downTxt">Enter your username and password</div>
                    <div class="downTxt" th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid User Credentials.

                        </div>
                    </div>
                    <div class="downTxt" th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <!--<div class="downTxt" th:if="${param.invalidSession}">-->
                        <!--<div class="alert alert-info">-->
                            <!--Invalid User Session.-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="dowTxt" th:if="${param.sessionExpired}">
                        <div class="alert alert-info">
                           Your Session Has Expired. Please Re-Login.
                        </div>
                    </div>

                </div>

                <div class="col-md-3">

                    <div class="imgBox">

                        <img th:src="@{/img/iseclogo.gif}" />

                    </div>

                </div>

            </div>
            <div class="frmCont">
                <form id="login-form" th:action="@{/app-login}" method = "post">
                    <div class="form-group">

                    <input type="text" name="app_username" required="required" placeholder="username" class="form-control"></input>
                    </div>
                    <div class="form-group">
                        <input type="password" name ="app_password" required="required" class="form-control" id="password" placeholder="password">

                        </input>
                    </div>
                    <input type="submit" value ="Login" class="btn btn-primary btn-block" id="login"></input>
                </form>
            </div>
        </div>



    </div>
</section>
</body>
</html>