<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Card Control Administration | Login Page</title>

<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta http-equiv="Content-Type" charset="UTF-8" />

<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
	rel="stylesheet" type="text/css" />

<link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/themes/green.css}" class="theme-color"
	rel="stylesheet" type="text/css" />
<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/css/loading.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
	type="text/css" />

	<script src="${/js/vertx-eventbus.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script>
		var vert_eb = new EventBus('http://127.0.0.1:8081/sockjs');

		vert_eb.onopen = () => {
			console.log('Server connected');
			EventBus.$emit('app.connected');
		};
		vert_eb.onerror = (err) => {
			console.log('Error occurred');
			console.log(err);
			EventBus.$emit('app.disconnected');
		};

		vert_eb.registerHandler("users.data", function(data) {
			console.log(data);
		});

		vert_eb.enableReconnect(true);
	</script>
</head>
<body>

	<section class="loginContainer">
		<div class="inner">

			<div class="providusLogo">

				<img th:src="@{/img/fcmb_logo.png}" />

			</div>
			<div class="loginwrap">

				<div class="row">

					<div class="col-md-9 left">
						<div class="topTxt">Login</div>
						<div class="downTxt">Enter your username and password</div>
						<div class="downTxt" th:if="${error}">
							<div class="alert alert-danger">
								Invalid User Credentials.

							</div>
						</div>
						<div class="downTxt" th:if="${param.logout}">
							<div class="alert alert-info">
								You have been logged out.
							</div>
						</div>

					</div>

					<div class="col-md-3">

						<div class="imgBox">

							<img th:src="@{/img/iseclogo.gif}" />

						</div>

					</div>

				</div>
				<div class="frmCont">
					<form id="login-form" method="post" th:action="@{/app-login}" >

						<div class="form-group">

							<input type="text" class="form-control" id="email" name="card_admin_username"
								placeholder="username" required="required" />
						</div>

						<div class="form-group">

							<input type="password" class="form-control" id="password"
								name="card_admin_password" placeholder="password" required="required" />
						</div>
						<button type="submit" class="btn btn-primary btn-block" id="login"
							name="login">Sign In</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<div>

		<form th:action="@{/app-login}" method = "post">
			<fieldset id="userLoginPane">
				<legend>Please Provide Login Details</legend>
				<p><label>Username:<input type="text" name="app_username" required="required"></input></label></p>
				<p><label>Password: <input type="password" name ="app_password" required="required"></input></label></p>
				<input type="submit" value ="Login" ></input>
			</fieldset>
		</form>
	</div>

</body>


</html>





