<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Card Control Administration | Create User</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta http-equiv="content-type" charset="UTF-8"/>

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css"/>
    <!--<link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"-->
          <!--rel="stylesheet" type="text/css"/>-->
    <!--<link-->
            <!--th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}"-->
            <!--rel="stylesheet" type="text/css"/>-->


    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/c3.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css"/>
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>

</head>
<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar"> <i
                        class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>

            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>
        </div>
    </div>

    <div th:replace="fragments/pageSideBar :: pageSideBar">
    </div>

    <div class="page-inner">
        <div class="page-title">
            <h3>New Card Control Administrative User </h3>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    New User Has Been Created Successfully.
                </div>
            </div>

        </div>
        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <div class="row dropbuttom">

                        <div class="col-md-6 col-md-offset-3">

                            <form id="users-trans-form" action="#" th:object="${adminUser}" th:action="@{/app/processNewUser}"
                                  method="post">
                                <div class="alert alert-info" th:if="${#fields.hasErrors('username')}">

                                    <ul th:if="${#fields.hasErrors('username')}">
                                        <li th:each="err:${#fields.errors('username')}" th:errors="*{username}" th:text="${err}" class="error" style="color: red;"></li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="username" id="username"
                                           class="form-control" placeholder="Username" required="required" size="10"
                                           th:field="*{username}"/><br/>
                                    <input type="password" name="password" id="password"
                                           class="form-control" placeholder="Password"  size="10"
                                           th:field="*{password}"/><br/>

                                    <label>
                                        Role:
                                        <select th:field="${adminUser.role}"
                                                class="form-control" title="Assign Role">
                                            <option th:value="${role}" th:text="${role.roleName}" th:each="role:${userRoleList}"></option>
                                        </select>
                                    </label>

                                </div>

                                <button type="submit" id="users-trans"
                                        class="btn btn-danger btn-block" th:disabled="${param.success}?'disabled'">Create User
                                </button>
                            </form>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/jquery-blockui/jquery.blockui.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>-->
<!--<script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>-->
<!--<script th:src="@{/vendor/switchery/switchery.min.js}"></script>-->
<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>
<script th:src="@{/js/d3.v3.min.js}"></script>
<!--<script th:src="@{/js/toastr.js}"></script>-->
<!--<script th:src="@{/js/loading.js}"></script>-->
<!--<script th:src="@{/js/utils.js}"></script>-->
<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>-->
</body>
</html>