<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Card Control Administration | Search Card</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta http-equiv="content-type" charset="UTF-8"/>

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables_themeroller.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap-datetimepicker.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />

    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
</head>
<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar"> <i
                        class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>

            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>
        </div>
    </div>

    <div th:replace="fragments/pageSideBar :: pageSideBar">
    </div>

    <div class="page-inner">
        <div class="page-title">
            <h3>Search For Card </h3>
        </div>
        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <div class="row dropbuttom">

                            <form id="users-trans-form" th:action="@{/app/processSearchCard}"
                                  method="get">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="acctNumber" id="id"
                                               class="form-control" placeholder="ACCOUNT NO" required="required" size="10" />
                                        <br/>
                                    </div>
                                </div>

                                <div class="col-md-4">

                                <div class="form-group">
                                    <button type="submit"
                                            class="btn btn-danger btn-block">Search
                                    </button>
                                </div>
                                </div>

                            </form>

                    </div>
                    <div>
                        <div class="content-inner">
                            <h3 th:unless="${#lists.isEmpty(cards)}">Please Select Card To Control.[<span style="color:red;" th:text= "${acctNumber}"></span>]</h3>
                            <table id="searchCardsTable" th:unless="${#lists.isEmpty(cards)}">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Masked PAN</th>
                                    <th>Encrypted PAN</th>
                                    <th>Choose Card.</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr th:each="card : ${cards}">
                                    <td th:text="${cardStat.count}"></td>
                                    <td th:text="${card.MaskedPan}"></td>
                                    <td th:text="${card.EncryptedPan}"></td>
                                    <td>
                                        <form th:action="@{/app/addCard}" method="get">
                                            <input type="hidden" th:value="${card.MaskedPan}" name="maskedPan" />
                                            <input type="hidden" th:value="${card.EncryptedPan}" name="encryptedPan" />
                                            <input type="hidden" th:value="${acctNumber}" name="acctNo" />

                                            <button class="submit" value="Control Card">Control Card</button>
                                        </form>
                                    </td>

                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>
<script th:src="@{/js/d3.v3.min.js}"></script>

</body>
</html>