<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Card Control Administration | Control Card</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta http-equiv="content-type" charset="UTF-8" />

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"/>
    <!--<link-->
            <!--th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}"-->
            <!--rel="stylesheet" type="text/css" />-->


    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
    <script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/vendor/switchery/switchery.min.js}"></script>
    <script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
    <script th:src="@{/js/bootstrap-multiselect.js}"></script>
    <link th:href="@{/css/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/bootstrap-toggle.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" />
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>

</head>
<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar"> <i
                        class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>

            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>
    <div class="page-inner">
        <div class="page-title">
            <h3>
                Set Up New Card For Card Control.
                <span th:if="${editCard}">Edit Card Control Settings</span>
            </h3>

        </div>
        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <div class="row dropbuttom">


                        <div class="col-md-6 col-md-offset-3 pull-left">
                            <form id="users-trans-form" th:action="@{/app/addCard}"
                                  method="post" th:object="${cardSettingRequest}">
                                <div class="form-group">

                                    <input type="text" name="maskedPan" id="maskedPan"
                                           class="form-control" placeholder="MASKED PAN" required="required" size="10" th:field="${cardSettingRequest.requestDetail.encryptedFullPan}"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="custID" id="custId"
                                           class="form-control" placeholder="CUST ID" required="required" size="10" th:field="${cardSettingRequest.requestDetail.custID}" />
                                </div>
                                <!--<button type="submit" id="users-trans" class="btn btn-danger btn-block">Add Card</button>-->
                            </form>

                        </div>

                    </div>

                    <div class="option">
                        <ul>

                            <li>
                                <form th:action="@{/app/lockCard}" th:object="${cardSettingRequest}" method="post">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="padOption">Lock Card</div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-left">

                                            <input type="checkbox" id="lockCard" th:field="${cardSettingRequest.requestDetail.blocked}">
                                            </input>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-left">
                                                <button class="btn btn-primary">Lock Card</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                </form>
                            </li>
                            <li>
                                <form th:action="@{/app/dailyLimit}" th:object="${cardSettingRequest}" method="post">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="padOption">Daily Limit</div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-left">

                                        <input type="text" id="dailyLimit" class="form-control placeH" placeholder="Daily Limit" th:value="${cardSettingRequest.requestDetail.dailyLimit}"  th:field="${cardSettingRequest.requestDetail.dailyLimit}"/>

                                    </div>
                                        <div class="col-md-6">
                                            <div class="pull-left">
                                                <button class="btn btn-primary">Set Daily Limit</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                </form>
                            </li>

                            <li>
                                <form th:action="@{/app/monthlyLimit}" th:object="${cardSettingRequest}" method="post">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="padOption">Monthly Limit</div>

                                    </div>
                                    <div class="col-md-6"><div class="pull-left">

                                        <input type="text" id="monthlyLimit" class="form-control placeH" placeholder="Monthly Limit" th:value="${cardSettingRequest.requestDetail.monthlyLimit}" th:field="${cardSettingRequest.requestDetail.monthlyLimit}"/>

                                    </div>
                                        <div class="col-md-6">
                                            <div class="pull-left">
                                                <button class="btn btn-primary">Set Monthly Limit</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                </form>
                            </li>
                            <li>
                                <div class="row">
                                    <!--<div class="col-md-6">-->
                                        <!--<select id="allowed-country-selected" multiple="multiple">-->
                                            <!--<option th:each="allowedCountry, rowStat : ${newCard.countryNames}" th:value="${{allowedCountry}}" th:text="${{allowedCountry}}"></option>-->

                                        <!--</select>-->

                                    <!--</div>-->
                                    <select class="allowed-countries" name="states[]" multiple="multiple">

                                        <option th:each="allowedCountry, rowStat : *{countries}" th:value="${codes[__${rowStat.index}__]}" th:text="${allowedCountry}"></option>

                                    </select>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div class="option">
                        <ul class="countriesLimit"></ul>
                        <!--<form th:action="@{/app/allowedChannels}" th:object="${newCard}" method="post">-->

                            <!--<ul>-->
                                <!--<li th:each="country, rowStat : ${countries}">-->
                                    <!--&lt;!&ndash;<input type="checkbox" th:field="*{mycountries}" th:value="${codes[__${rowStat.index}__]}" th:text="${country}"></input>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="checkbox" id="inlineCheckbox1" th:each="channel: ${newCard.channelList}" th:value="${{channel}}" th:text="${{channel}}"></input>&ndash;&gt;-->

                                <!--</li>-->
                            <!--</ul>-->


                            <!--<ul>-->
                                <!--<li th:each="allowedCountry, rowStat :*{countriesList}">-->
                                    <!--<input type="checkbox" th:field="*{countriesSelected[__${rowStat.index}__].twoDigitCode}" th:value="${{allowedCountry.twoDigitCode}}" th:text="${{allowedCountry.countryName}}"  />-->
                                <!--</li>-->
                            <!--</ul>-->


                            <button id="users-trans" class="btn btn-danger btn-block">Set Countries/Channels.</button>
                        <!--</form>-->
                    </div>
                    <!--<div class="option">-->
                        <!--<ul>-->

                            <!--<form th:action="@{/app/allowedChannels}" th:object="${newCard}" method="post">-->

                            <!--<li th:each="allowedCountry, rowStat : ${newCard.countryNames}">-->

                            <!--<div class="row">-->

                                <!--<div class="col-md-6 pull-left">-->
                                    <!--<div>-->
                                        <!--<select>-->
                                            <!--<option th:value="${{allowedCountry}}" th:text="${{allowedCountry}}" th:field="${newCard.allowedCountriesChannelsMap[{{allowedCountry}}]}"></option>-->
                                        <!--</select>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--<div class="col-md-6">-->

                                    <!--<div class="pull-left">-->
                                        <!--<label class="checkbox-inline" th:each="channel: ${newCard.channelList}">-->
                                            <!--<input type="checkbox" id="inlineCheckbox1"  th:value="${{channel}}" th:text="${{channel}}"></input>-->
                                        <!--</label>-->

                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                            <!--</li>-->
                                <!--<button type="submit" id="users-trans"-->
                                        <!--class="btn btn-danger btn-block">Set Countries/Channels.</button>-->
                            <!--</form>-->

                        <!--</ul>-->

                    <!--</div>-->

                </div>

            </div>
        </div>
        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<!--<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>-->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>
<!--<script th:src="@{/js/modern.min.js}"></script>-->
<script th:src="@{/js/Chart.bundle.js}"></script>
<!--<script th:src="@{/js/d3.v3.min.js}"></script>-->

</body>
</html>