<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Card Control Administration | Control Card</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta http-equiv="content-type" charset="UTF-8" />

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css" />
    <!--<link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"-->
          <!--rel="stylesheet" type="text/css" />-->
    <!--<link th:href="@{/vendor/datatables/css/jquery.datatables_themeroller.css}"-->
          <!--rel="stylesheet" type="text/css" />-->

    <!--<link th:href="@{/css/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"/>-->
    <!--<link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"/>-->

    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>-->
    <!--<script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>-->
    <!--<script th:src="@{/vendor/switchery/switchery.min.js}"></script>-->
    <!--&lt;!&ndash;<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>&ndash;&gt;-->
    <!--<script th:src="@{/js/bootstrap-multiselect.js}"></script>-->
    <!--<script th:src="@{/js/bootstrap-toggle.min.js}"></script>-->
    <!--<script th:src="@{/vendor/waves/waves.min.js}"></script>-->
    <!--<script th:src="@{/vendor/3d-bold-navigation/js/main.js}"></script>-->
    <!--&lt;!&ndash;<script th:src="@{/js/modern.min.js}"></script>&ndash;&gt;-->
    <!--<script th:src="@{/js/Chart.bundle.js}"></script>-->
    <!--<script th:src="@{/js/sockjs.min.js}"></script>-->
    <!--<script th:src="@{/js/vertx-eventbus.min.js}"></script>-->
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" />
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/setupCard.js}"></script>

</head>
<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar"> <i
                        class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>

            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>
    <div class="page-inner">
        <div class="page-title">
            <h3>
                Set Up New Card For Card Control.[<span style="color:red" th:text="${cardSettingRequest.requestDetail.custID}"></span>]
                <span th:if="${editCard}">Edit Card Control Settings</span>
            </h3>

        </div>
        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <div class="row dropbuttom">


                        <div class="col-md-6 col-md-offset-3 pull-left">
                            <form id="users-trans-form" th:action="@{/app/addCard}"
                                  method="post" th:object="${cardSettingRequest}">
                                <div class="form-group">

                                    <input type="text" name="maskedPan" id="maskedPan"
                                           class="form-control" placeholder="MASKED PAN" required="required" size="10" th:field="${cardSettingRequest.requestDetail.maskedPan}" disabled="disabled" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="custID" id="custId"
                                           class="form-control" placeholder="CUST ID" required="required" size="10" th:field="${cardSettingRequest.requestDetail.custID}" disabled="disabled" />
                                </div>
                            </form>

                        </div>

                    </div>

                    <div class="option">
                        <ul>

                            <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="padOption">Lock Card</div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-left">

                                                <input type="checkbox" id="lockCard" >
                                                </input>

                                            </div>
                                        </div>
                                    </div>
                            </li>
                            <li>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="padOption">Daily Limit</div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-left">

                                                <input type="text" id="dailyLimit" class="form-control placeH" placeholder="Daily Limit" />

                                            </div>

                                        </div>
                                    </div>
                            </li>

                            <li>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="padOption">Monthly Limit</div>

                                        </div>
                                        <div class="col-md-6"><div class="pull-left">

                                            <input type="text" id="monthlyLimit" class="form-control placeH" placeholder="Monthly Limit" />

                                        </div>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                <div class="row">
                                    <!--<div class="col-md-6">-->
                                    <!--<select id="allowed-country-selected" multiple="multiple">-->
                                    <!--<option th:each="allowedCountry, rowStat : ${newCard.countryNames}" th:value="${{allowedCountry}}" th:text="${{allowedCountry}}"></option>-->

                                    <!--</select>-->

                                    <!--</div>-->
                                    <select class="allowed-countries" name="states[]" multiple="multiple">

                                        <option th:each="allowedCountry, rowStat : *{countries}" th:value="${codes[__${rowStat.index}__]}" th:text="${allowedCountry}"></option>

                                    </select>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div class="option">
                        <ul class="countriesLimit"></ul>

                    </div>


                    <button id="users-trans" class="btn btn-danger btn-block">Save Card.</button>


                </div>

            </div>
        </div>
        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>
</body>
</html>