<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Card Control Administration | Transaction Response </title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/jquery-ui/jquery-ui.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables_themeroller.css}"
          rel="stylesheet" type="text/css" />

    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />

    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>


</head>
<body class="page-header-fixed">
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar"> <i
                        class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>

            <div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>

    <div class="page-inner">
        <div class="page-title">
            <h3>Card Transaction Response

            </h3>

        </div>

        <div id="main-wrapper">


            <div id="content-wrapper">

                <div class="content-inner">

                    <table class="display table tbData" id="trxnResponseTable">
                        <thead class="">
                        <tr>
                            <th>PAN</th>
                            <!--<th>Account Number</th>-->
                            <th>Message Type Identifier</th>
                            <th>Currency Code</th>
                            <th>Retrieval Ref. Number</th>
                            <th>Response Code</th>
                            <th>TIME</th>
                            <th>AMOUNT</th>
                        </tr>
                        </thead>

                        <tbody th:unless="${#lists.isEmpty(cardTrxnResponseBean)}" th:each="response: ${cardTrxnResponseBean}">
                        <tr>
                            <td th:text="${response.pan}"></td>
                            <!--<td th:text="${response.acctNumber}"></td>-->
                            <td th:text="${response.mti}"></td>
                            <td th:text="${response.currencyCode}"></td>
                            <td th:text="${response.rrnNumber}"></td>
                            <td th:text="${response.responseCode}"></td>
                            <td th:text="${response.trxTime}"></td>
                            <td th:text="${response.amount}"></td>
                        </tr>

                        </tbody>
                    </table>


                </div>

            </div>

        </div>
    </div>
    <div class="page-footer">
        <p class="no-s">Copyright &copy; i.Sec 2018</p>
    </div>
</main>
<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/vendor/uniform/jquery.uniform.min.js}"></script>
<script th:src="@{/vendor/waves/waves.min.js}"></script>
<script th:src="@{/js/modern.min.js}"></script>
<script th:src="@{/js/Chart.bundle.js}"></script>

</body>
</html>