<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" />
    <title>Card Control Administration | Card Control Users</title>

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/fontawesome/css/font-awesome.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables/css/jquery.datatables.min.css}"
          rel="stylesheet" type="text/css" />
    <link
            th:href="@{/assets/plugins/datatables/css/jquery.datatables_themeroller.css}"
            rel="stylesheet" type="text/css" />


    <link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet"
          type="text/css" />
    <script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/vertx-eventbus.min.js}"></script>
    <script th:src="@{/js/mycustom.js}"></script>
</head>

<body class="page-header-fixed">
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a th:href="@{/app/viewTrxns}" class="logo-text"><span>i.Sec</span></a>
            </div>
            <div th:replace="fragments/topMenu :: topMenu">

            </div>

        </div>
    </div>
    <div th:replace="fragments/pageSideBar :: pageSideBar">

    </div>


    <div class="page-inner">
        <div class="page-title">
            <h3>Card Control Admin. Portal Users.</h3>
        </div>
        <div id="main-wrapper">
            <div id="content-wrapper">

                <div class="content-inner">
                    <div sec:authorize="hasAnyRole('ADMIN','CONTROL_MAKER')">
                        <a th:href="@{/app/newUser}" class="btn btn-primary m-b-sm">Create New User</a>
                    </div>
                    <table class="display table tbData" id="allUsers">
                        <thead class="">
                        <tr>
                            <th>No.</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Enabled.</th>
                            <th>Manage User.</th>
                        </tr>
                        </thead>
                        <tbody th:unless="${#lists.isEmpty(usersList)}">
                        <tr th:each="user : ${usersList}">
                            <td th:text="${userStat.count}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.role}"></td>
                            <td th:text="${user.enabledString}"></td>
                            <td><a class="btn btn-submit" sec:authorize="hasAnyRole('ADMIN','CONTROL_MAKER')" th:href="@{/app/editUser(uId=${user.id})}" th:text="Manage">Manage</a></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="page-footer">
            <p class="no-s">Copyright &copy; i.Sec 2018</p>
        </div>
    </div>
</main>

<div class="cd-overlay"></div>

<script th:src="@{/vendor/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.datatables.min.js}"></script>

</body>
</html>